:root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: StarJedi;
  color: black;
  text-decoration: none;
  line-height: 1;
}

@font-face {
  font-family: StarJedi;
  src: url('/starjedi_cyrillic.otf') format('opentype');
}

html {
  background-image: url('image/star-background.jpeg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

body,
html,
#root {
  height: 100%;
}
h1 {
  font-size: 25px;
}
